<div class="container">
  <div class="row">
    <h1>Dongs N Stars</h1>
    <p ng-show="!vm.isAuthenticated()">Please register or sign-in to participate</p>
    <span ng-show="vm.isAuthenticated()">
      <p class="lead">Click on the 'Point Board' to dish out some dong points
      or to give some rockstar nominations!  You get up to 5 votes per day to add/remove dong points or rockstars nominations. </p>
      <p>Feedback is great!  Issues and enhancement requests can be made here:
        <a href="https://github.com/paustint/dongs-n-stars/issues" target="_blank">https://github.com/paustint/dongs-n-stars/issues</a></p>
    </span>
  </div>
</div>


