<div class="container-fluid">
  <div class="column">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Give a point <span>to {{vm.user.name}}</span>
              <button
                type="button"
                class="btn btn-default pull-right"
                ng-class="{active: vm.isVisible('givePoint')}"
                ng-click="vm.toggleShow('givePoint')"
                aria-label="Toggle Hide/Show">
                <span
                  class="glyphicon glyphicon-eye-open"
                  ng-class="{'glyphicon-eye-open': vm.show.givePoint, 'glyphicon-eye-close': !vm.show.givePoint}"
                  aria-hidden="true">
                </span>
              </button>
            </div>
            </div>
              <div class="panel-body" ng-show="vm.show.givePoint" style="overflow-y: scroll; min-height: 350px; max-height: 450px;">
                <div class="Column">
                <div class="row" style="max-height:350px;">
                  <ul class="list-group">
                    <a class="list-group-item"
                    ng-repeat="user in vm.users | orderBy: 'name'"
                    ng-click="vm.selectUser(user)"
                    ng-class="{active: user === vm.user}">
                      <span
                        uib-tooltip="{{user.name}} is logged in"
                        tooltip-placement="right"
                        class="glyphicon glyphicon-user text-success"
                        aria-hidden="true"
                        ng-show="user.loggedIn"
                        style="color: blue;">
                      </span>
                      <span
                        uib-tooltip="{{user.name}} is not be logged in"
                        tooltip-placement="right"
                        class="glyphicon glyphicon-user text-muted"
                        aria-hidden="true"
                        ng-show="!user.loggedIn">
                      </span>
                      <span>{{user.name}} ({{user.email}})</span>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer" ng-show="vm.show.givePoint">
              <div class="column">
                <div class="row">
                  <span class="col-md-12">
                      <div class="form-group">
                        <textarea ng-model="vm.message" class="form-control" rows="2" placeholder="{{vm.pointType}} message"></textarea>
                      </div>
                    </span>
                </div>
                <div class="row">
                  <form class="form-inline col-md-12">
                    <spav class="col-md-6">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active" ng-click="vm.setPointType('dong')">
                          <input type="radio" autocomplete="off" ng-checked="vm.pointType === 'dong'"> Dong
                        </label>
                        <label class="btn btn-default" ng-click="vm.setPointType('rockstar')">
                          <input type="radio" autocomplete="off" ng-checked="vm.pointType === 'rockstar'"> Rockstar
                        </label>
                      </div>
                    </spav>
                    <span class="pull-right" style="padding-right:25px;">
                      <button type="button" ng-click="vm.createUserPoint(vm.user, vm.pointType, vm.message)" class="btn btn-primary">Submit {{vm.pointType}} point</button>
                    </span>
                  </form>
                </div> <!-- end row -->
              </div> <!-- end column -->

              <!--list group-->
            </div>
            </div>
         </div>
         <!---------------------------- RECENT ACTIVITY -------------------->
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">Recent Activity
                  <button
                    type="button"
                    class="btn btn-default pull-right"
                    ng-class="{active: vm.isVisible('recentActivity')}"
                    ng-click="vm.toggleShow('recentActivity')"
                    aria-label="Toggle Hide/Show">
                    <span
                      class="glyphicon"
                      ng-class="{'glyphicon-eye-open': vm.show.recentActivity, 'glyphicon-eye-close': !vm.show.recentActivity}"
                      aria-hidden="true">
                    </span>
                  </button>
                </div>
              </div>
              <div
                class="panel-body"
                ng-show="vm.show.recentActivity"
                style="height: 510px; overflow-y: scroll; overflow-x: none;">
                <ul class="list-group">
                  <li class="list-group-item"
                      ng-repeat="recent in vm.recent | orderBy: '-voteDate' track by $index"
                      ng-class="{'list-group-item-success': recent.successClass}">
                    <div class="row">
                      <span class="hidden-md hidden-sm hidden-xs">{{recent.voteDate | date: 'short'}} - </span>
                      <span>{{recent.fromUser.name}}</span>
                      <span ng-class="recent.class">{{recent.verb}}</span>
                      <span>{{recent.toUser.name}}<span ng-show="recent.verb === 'removed'">'s</span></span>
                      <span ng-show="recent.verb === 'gave'">a</span>
                      <span ng-class="{'label label-danger': recent.dong, 'label label-success': recent.rockstar}">{{recent.type}}</span>
                      <span ng-show="recent.dong !== 0"> point</span>
                      <span ng-show="recent.rockstar !== 0"> nomination</span>
                      </span>
                      <span class="pull-right" ng-show="recent.message">
                        <span ng-class="{'text-success': true, 'label label-info': recent.upvoteChanged}">
                          <span
                            ng-click="vm.messageVote(recent, 'upvote')"
                            class="glyphicon glyphicon-thumbs-up"
                            aria-hidden="true">
                          </span>
                          {{recent.upvote || 0}}
                        </span>
                        <span ng-class="{'text-danger': true, 'label label-info': recent.downvoteChanged}">
                          <span
                            ng-click="vm.messageVote(recent, 'downvote')"
                            class="glyphicon glyphicon-thumbs-down"
                            aria-hidden="true">
                          </span>
                          {{recent.downvote || 0}}
                        </span>
                        <span
                          uib-popover="{{recent.message}}"
                          popover-trigger="mouseenter click"
                          popover-placement="bottom-right"
                          popover-popup-close-delay="500"
                          popover-title="Message"
                          class="glyphicon glyphicon-comment text-primary"
                          style="padding-right: 10px"
                          aria-hidden="true">
                        </span>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

<!-- Bottom Section Dongs and Rockstars-->
  <!-- Dongs -->
    <div class="row">
      <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="panel-title">Dongs
            <button
              type="button"
              class="btn btn-default pull-right"
              ng-class="{active: vm.isVisible('dong')}"
              ng-click="vm.toggleShow('dong')"
              aria-label="Toggle Hide/Show">
              <span
                class="glyphicon glyphicon-eye-open"
                ng-class="{'glyphicon-eye-open': vm.show.dong, 'glyphicon-eye-close': !vm.show.dong}"
                aria-hidden="true">
              </span>
            </button>
            </div>
        </div>
        <div class="panel-body" ng-show="vm.show.dong">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <td>#</td>
                <td>Name</td>
                <td>Points</td>
                <td>Action</td>
              </thead>
              <tbody>
                <tr ng-repeat="point in vm.dongs | orderBy: '-count'">
                  <td>{{$index + 1}}</td>
                  <td>{{point.name}}<br/>({{point.email}})</td>
                  <td>{{point.count}}</td>
                  <td>
                    <!--<span ng-click="vm.createUserPoint(point.toUser, 'dong')" class="btn btn-warning btn-xs">Add</span> |-->
                    <span
                      uib-popover-template="vm.popover.addDong"
                      popover-trigger="click"
                      popover-placement="top-right"
                      popover-title="Add Point"
                      class="btn btn-warning btn-xs">Add</span> |
                    <span
                      uib-popover-template="vm.popover.removeDong"
                      popover-trigger="click"
                      popover-placement="top-right"
                      popover-title="Remove Point"
                      class="btn btn-info btn-xs">Remove</span>
                    <!--<span ng-click="vm.removeUserPoint(point.toUser, 'dong')" class="btn btn-info btn-xs">Remove</span>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      <!--Rockstars -->
      <div class="col-md-6">
        <div class="panel panel-success" class="col-md-6">
          <div class="panel-heading" class="col-md-6">
            <div class="panel-title">Rockstars
            <button
              type="button"
              class="btn btn-default pull-right"
              ng-class="{active: vm.isVisible('rockstar')}"
              ng-click="vm.toggleShow('rockstar')"
              aria-label="Toggle Hide/Show">
              <span
                class="glyphicon glyphicon-eye-open"
                ng-class="{'glyphicon-eye-open': vm.show.rockstar, 'glyphicon-eye-close': !vm.show.rockstar}"
                aria-hidden="true">
              </span>
            </button>
            </div>
          </div>
          <div class="panel-body" ng-show="vm.show.rockstar">
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
              <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <div ng-if="messages.success" role="alert" class="alert alert-success">
              <div ng-repeat="success in messages.success">{{success.msg}}</div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <td>#</td>
                  <td>Name</td>
                  <td>Points</td>
                  <td>Action</td>
                </thead>
                <tbody>
                  <tr ng-repeat="point in vm.rockstars | orderBy: '-count'">
                    <td>{{$index + 1}}</td>
                    <td>{{point.name}}<br/>({{point.email}})</td>
                    <td>{{point.count}}</td>
                    <td>
                      <!--<span ng-click="vm.createUserPoint(point.toUser, 'rockstar')" class="btn btn-warning btn-xs">Add</span> |
                      <span ng-click="vm.removeUserPoint(point.toUser, 'rockstar')" class="btn btn-info btn-xs">Remove</span>-->
                    <span
                      uib-popover-template="vm.popover.addRockstar"
                      popover-trigger="click"
                      popover-placement="top-right"
                      popover-title="Add Point"
                      class="btn btn-warning btn-xs">Add</span> |
                    <span
                      uib-popover-template="vm.popover.removeRockstar"
                      popover-trigger="click"
                      popover-placement="top-right"
                      popover-title="Remove Point"
                      class="btn btn-info btn-xs">Remove</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>