<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="vm.messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in vm.messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="vm.messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in vm.messages.success">{{success.msg}}</div>
      </div>
        <form ng-submit="vm.resetPassword()">
          <legend>Reset Password</legend>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" placeholder="New password" class="form-control" ng-model="vm.user.password" autofocus>
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" id="confirm" placeholder="Confirm password" class="form-control" ng-model="vm.user.confirm">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Change Password</button>
          </div>
        </form>
    </div>
  </div>
</div>
